* {
    padding: 0;
    margin: 0;
    font-family: Verdana;
    box-sizing: border-box;
}

header {
    width: 100%;
    background-color: aquamarine;
    display: flex;
    justify-content: space-evenly;
    padding: 20px 0;
}

nav {
    align-self: center;
}

nav ul li {
    list-style-type: none;
    display: inline;
    padding: 15px;
    border-radius: 5px;
}

nav ul li:hover{
    background-color: black;
    transition: .3s;
}

nav ul li a {
    text-decoration: none;
}